//variaveis usadas no meu sass
$cor-padrao: darken(#c24e4b, 20%); //para não perder a info da cor anterior
$cor-auxiliar: lighten(#1e2c35, 0%); //mais clara (cor, porcentagem). outras funções: saturate, adjust-hue, complement
$cor-branca: #fff;